api/WebAppForAWS/WebAppForAWS/obj/
api/WebAppForAWS/WebAppForAWS/bin/
api/WebAppForAWS/packages
api/WebAppForAWS/WebAppForAWS/PublishFiles/
api/WebAppForAWS/Test.WebAppForAWS/obj/Debug/Test.WebAppForAWS.pdb
api/WebAppForAWS/Test.WebAppForAWS/obj/Debug/Test.WebAppForAWS.dll
api/WebAppForAWS/Test.WebAppForAWS/obj/Debug/Test.WebAppForAWS.csprojResolveAssemblyReference.cache
api/WebAppForAWS/Test.WebAppForAWS/obj/Debug/Test.WebAppForAWS.csproj.FileListAbsolute.txt
api/WebAppForAWS/Test.WebAppForAWS/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
api/WebAppForAWS/Test.WebAppForAWS/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
api/WebAppForAWS/Test.WebAppForAWS/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
api/WebAppForAWS/Test.WebAppForAWS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
api/WebAppForAWS/Test.WebAppForAWS/bin/
